.disorders-item {
    padding-right: 100px;
}

.sort-block {
    border: 1px solid #0BA6BF;	
    border-radius: 4px;	
    background-color: #FFFFFF;	
    font-size: 16px;
    margin-bottom: 30px;

    p {
        font-size: 18px;
        line-height: 60px;
        margin: 0;
    }
}